<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3">Month End Report Date: <span>04/30/2018</span> 	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	Line Make: <span>MINI Passenger Cars</span> 	</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3"><h2>Aftersales Administration	</h2>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	>Please verify - entries carried over from prior month before saving.
	</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3">Retail Labor Rate (9016): <span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3">Nbr of Productive Technicians (9015): <span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
</div>
<div class="row">
  <div class="col-sm-12 "><h2>Labor Sales	</h2>	</div>
  
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 ">Retail Labor Hours (9002):<span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
  <div class="col-sm-12 col-md-6 col-lg-3 ">	Internal Labor Hours(9004): <span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 ">Warranty Labor Hours (9003): <span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
  <div class="col-sm-12 col-md-6 col-lg-6 ">	</div>
  
</div>
<div class="row">
  <div class="col-sm-12 "><h2>Time Analysis	</h2>	</div>
  
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 ">Technicians Actual Hours Worked (9008):<span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
  <div class="col-sm-12 col-md-6 col-lg-3 ">	Technician Available Hours (9009): <span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 ">Technicians W-Fixed Hours (9010):<span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
  <div class="col-sm-12 col-md-6 col-lg-3 ">		Nbr of Working Days for Month (9017): <span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
</div>
<div class="row">
  <div class="col-sm-12 "><h2>Statistics</h2>	</div>
  
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 ">Nbr of Active Client Visits (9011):<span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
  <div class="col-sm-12 col-md-6 col-lg-3 ">		Nbr of Internal Transactions (9013): <span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 ">Nbr of Transient Client Visits (9012):<span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
  <div class="col-sm-12 col-md-6 col-lg-3 ">Total Nbr of Active Clients on file (9014): <span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 ">Nbr of Client Repeat Visits (9030):<span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	<input type="text" class="custom-input " />	</div>
  <div class="col-sm-12 col-md-6 col-lg-6 ">	</div>
  
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 ">Origin Type:<span>*</span>	</div>
  <div class="col-sm-12 col-md-6 col-lg-3">	Download	</div>
  <div class="col-sm-12 col-md-6 col-lg-6 ">	</div>
  
</div>
<div class="row">
  
  <div class="col-sm-12 ">Monthly Workshop for April 2018 was submitted by DCSnet on May 10, 2018	</div>
  <div class="col-sm-12 ">    * Required Fields	</div>
  <div class="col-sm-12 ">  View Print</div>
  
</div>
<div class="row">
  
  <div class="col-sm-12 ">  
    <button class="custom-button secondary" >Back to List</button> <button class="custom-button button" >Save</button> <button class="custom-button button" >Send</button>	</div>
  
</div>